{% extends 'base.html' %}

{% block main %}
    <h1>Contact Form</h1>
    <hr>
    <p>Fill in this form to contact the site owners.</p>

    <form method="POST" action ="{{ url_for('contact') }}">
        {{ form.csrf_token }}
        <div class="form">
            {{ form.name.label(class="label") }} <span class="required">(Required)</span>
            <p>Please enter your full name.</p>
            {{ form.name(class="form-control") }}
        </div><br>
        <div class="form-group">
            {{ form.email.label(class="label") }} <span class="required">(Required)</span>
            <p>Please enter your e-mail address.</p>
            {{ form.email(class="form-control") }}
        </div><br>
        <div class="form-group">
            {{ form.subject.label(class="label") }} <span class="required">(Required)</span>
            <p>Please enter the subject for your message.</p>
            {{ form.subject(class="form-control") }}
        </div><br>
        <div class="form-group">
            {{ form.message.label(class="label") }} <span class="required">(Required)</span>
            <p>Please enter the message you would like to send.</p>
            {{ form.message(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
    </form>

{% endblock %}